<!DOCTYPE html>
<html lang="zh-CN" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>登陆页</title>
    <script th:src="@{/oauthServer/common/jquery-1.9.1.js}" type="text/javascript"></script>
    <script th:src="@{/oauthServer/common/jquery.min.js}" type="text/javascript"></script>
    <script th:src="@{/oauthServer/common/jquery-1.8.2.min.js}" type="text/javascript"></script>
    <script th:src="@{/oauthServer/common/jquery.cookie.js}" type="text/javascript"></script>
    <script th:src="@{/oauthServer/common/getPath.js}" type="text/javascript"></script>
    <script th:src="@{/oauthServer/common/jquery.form.js}" type="text/javascript"></script>
</head>
<body>
    <div>
        用户名：<input id="username" name="username" type="text"/><br/>
        密码：<input id="password" name="password" type="password"/><br/>
        <button id="login">登陆</button>
        <button id="logout">注销</button>
    </div>
</body>
<script>
    $(function () {
        $("#login").click(function () {
            var username = $("#username").val();
            var password = $("#password").val();
            var url = getBaseUrl() + '/oauthServer/demo/doLogin';
            var parm = {username : username, password : password};
            $.ajax({
                url : url,
                data : parm,
                type : 'post',
                contentType : 'application/x-www-form-urlencoded',
                success: function (d) {
                    console.log("d:" + d);
                    if(d.code == "1"){
                        console.log("d:" + d.access_token);
                        $.cookie('token', d.access_token, { path: '/'});
                        sessionStorage.setItem("token", d.access_token);
                        window.location.href = getBaseUrl() + "/oauthServer/pageIndex/index";
                    }
                }
            })
        })

        $("#logout").click(function () {
            var url = getBaseUrl() + '/oauthServer/demo/removeToken';
            $.ajax({
                url : url,
                data : '',
                type : 'post',
                contentType : 'application/x-www-form-urlencoded',
                success: function (d) {
                    console.log("d:" + d);
                    $.removeCookie('token', { path: '/'});
                }
            })
        })
    })
</script>
</html>